* {
  margin: 0;
  padding: 0;
}

.main_container {
  padding-top: 30px;
  background-color: #6983aa;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.center_div {
  width: 25%;
  height: 80vh;
  background-color: white;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.items_container {
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.heading {
  text-transform: uppercase;
  background: transparent;
  background-color: #8566aa;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

input {
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid #8566aa;
  width: 70%;
  outline: none;
}

button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  margin: 10px 20px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #20bf6b;
}
button:active {
  opacity: 0.5;
}

ol {
  margin-top: 30px;
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}

.todo_style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo_style .fa-trash {
  width: 30px;
  height: 30px;
  background-color: #8566aa;
  border-radius: 50%;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_style .fa-trash:hover {
  background-color: crimson;
}

.todo_style .fa-trash:hover .list_style {
  background-color: crimson;
}

.todo_style .fa-trash:active{
  opacity: 0.5;
}

@media (max-width: 768px) {
  .center_div {
    width: 55%;
  }

  .todo_style .fa-trash {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    min-height: 40px;
    width: 40px;
    color:#fff;
    font-size: 30px;
  }
}
